<div class="header-color">

    <nav class="navbar navbar-expand-lg navbar-dark ">

      <div class="container">

        <a class="navbar-brand" href="index.html">

          <img src="../assets/img/logo.png" alt="Logo">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

          <ul class="navbar-nav ml-auto">

       

            <li class="nav-item">

              <a class="nav-link" href="#">About</a>

            </li>

            <li class="nav-item">

              <a class="nav-link" href="#">Portfolio</a>

            </li>

            <li class="nav-item">

              <a class="nav-link" href="#">Blog</a>

            </li>

            <li class="nav-item">

              <a class="nav-link" href="#">Contact</a>

            </li>

 

       

          </ul>

   

            <div class="search-box">

                <input type="text" placeholder="Type to search.." class="search-input">

                <div class="search-icon">

                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>

                </div>

                <div class="cancel-icon">

                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>

                </div>

            </div>

 

        </div>

      </div>

    </nav>

  </div>

 







<!-- <nav>
    <ul class="menu">
      <li><a href="#!">Home</a></li>
      <li><a href="#!">About</a></li>
      <li><a href="#!">Contact</a></li>
      <li><a href="#!">Faq</a></li>
      <button class='glowing-btn'><span class='glowing-txt'>BO<span class='faulty-letter'>OK</span>ING</span></button>
      
    </ul>
  </nav> -->