<div class="fullcontainer">
    <div class="container -sm">
        <h1 class="headline text-white">MAKE EVENT WITH </h1>
        <h1 class="headline neon-text">EVENT EASE</h1>
        <div class="logo img-thumbnail">
            <img src="../../../assets/img/EventEaseLogo.png" class="rounded">
        </div>
        <div class="content">
          
            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque blanditiis ullam autem exercitationem, vitae deserunt ea mollitia quibusdam adipisci sit repellendus quos nostrum, itaque eius rem. Cupiditate vitae fuga hic!</p>
        </div>
        <button class="cta-button">Get Started</button>
    </div>
</div>
